{% extends 'base.html' %}

{% block title %}
    Index html
{% endblock %}
{% block menu_genres %}
    <li class="dropdown"><a href="#">Genres</a>
        <ul>
             {% for genre in genres() %}
                <li><a href="{{ url_for('search_genre', gerne_name=genre.name) }}">{{ genre.name }}</a></li>
            {% endfor %}

        </ul>
    </li>
{% endblock %}

{% block card_count %}
    <li><a href="{{ url_for('basket.index_basket') }}">Basket
        : {{cart_count() }}</a></li>
{% endblock card_count %}




{% block content %}

    <!-- Banner Section -->
    <section class="banner-section">
        <div class="banner-carousel owl-theme owl-carousel">
            <!-- Slide Item -->
            <div class="slide-item">
                <div class="image-layer"
                     style="background-image:url({{ url_for('static',filename='images/main-slider/1.jpg') }})"></div>

                <div class="auto-container">
                    <div class="content-box">
                        <h2>The Premier <br> Matches Dota 2</h2>
                        <div class="btn-box"><a href="https://game-tournaments.com/dota-2/matches" class="theme-btn btn-style-one"><span class="btn-title">Learn more</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide Item -->
            <div class="slide-item">
                <div class="image-layer"
                     style="background-image:url({{ url_for('static',filename='images/main-slider/2.jpg') }})"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h2>the Premier <br> Matches CS Go</h2>
                        <div class="btn-box"><a href="https://game-tournaments.com/csgo/matches" class="theme-btn btn-style-one"><span class="btn-title">Learn more</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Slide Item -->
            <div class="slide-item">
                <div class="image-layer"
                     style="background-image:url({{ url_for('static',filename='images/main-slider/3.jpg') }})"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h2>the Premier <br> League of Legends</h2>
                        <div class="btn-box"><a href="https://game-tournaments.com/lol/matches" class="theme-btn btn-style-one"><span class="btn-title">Learn more</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Banner Section -->

    <!-- Welcome Section -->
    <section class="welcome-section">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title">Welcome to the Best</div>
                <h2>game streams</h2>
            </div>

            <div class="row clearfix">
                {% for game in games %}
                <div class="default-portfolio-item col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="0ms"
                     data-wow-duration="1500ms">
                    <div class="inner-box hvr-bob">
                        <figure class="image-box"><img src="{{ game.photo }}"
                                                       alt=""></figure>
                        <!--Overlay Box-->
                        <div class="overlay-box">
                            <div class="overlay-inner">
                                <div class="content">
                                    <h3><a href="{{ game.twitch_stream }}">{{ game.name }}</a></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <!-- Lower Box -->
            <div class="lower-box">
                <div class="text">There are many variations of passages of lorem ipsum available, but the majority have
                    suffered alteration in some form, by injected humour, or randomised words which don't look even
                    slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there
                    isn't anything embarrassing hidden in the middle of text.
                </div>
                <a href="about-clan.html" class="theme-btn btn-style-one"><span class="btn-title">About us</span></a>
            </div>

        </div>
    </section>
    <!-- End Welcome Section -->



    <!-- Gallery Section Two -->
    <section class="gallery-section-two">

        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title">Check Out Our</div>
                <h2>Photos gallery</h2>
            </div>

            <div class="row clearfix">

                <!--Gallery Item-->
                <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeInLeft" data-wow-delay="0ms">
                    <div class="inner-box">
                        <figure class="image-box">
                            <img src="{{ url_for('static',filename='images/gallery/17.jpg') }}" alt="">
                            <!--Overlay Box-->
                            <div class="overlay-box">
                                <div class="overlay-inner">
                                    <div class="content">
                                        <a href="#" class="link"><span class="icon flaticon-unlink"></span></a>
                                        <a href="{{ url_for('static',filename='images/gallery/17.jpg') }}"
                                           data-fancybox="gallery-2" data-caption="" class="link"><span
                                                class="icon flaticon-add"></span></a>
                                    </div>
                                </div>
                            </div>
                        </figure>
                    </div>
                </div>


            </div>

        </div>

    </section>


    <!-- Call To Action Section -->
    <section class="facts-section">
        <!-- Title Boxed -->
        <div class="title-boxed"
             style="background-image:url({{ url_for('static',filename='images/background/5.jpg') }})">
            <div class="auto-container">
                <div class="content wow fadeInLeft" data-wow-delay="0ms">
                    <h2>Coffe Games WHERE DIGITAL <br> WORLDS MEET REAL <br> INNOVATION</h2>
                    <a href="{{ url_for('contact') }}" class="theme-btn btn-style-one"><span
                            class="btn-title">view tournaments</span></a>
                </div>
            </div>
        </div>
        <!-- End Title Boxed -->

        <!-- Lower Boxed -->
        <div class="lower-boxed">
            <div class="auto-container">
                <div class="row clearfix">

                    <!-- Counter Column -->
                    <div class="counter-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column">


                            <!-- Featured Block -->
                            <div class="featured-block">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <span class="icon flaticon-joystick"></span>
                                    </div>
                                    <h3>785,000</h3>
                                    <div class="text">Games player by 6,388 people in 7 days</div>
                                </div>
                            </div>

                            <!-- Featured Block -->
                            <div class="featured-block">
                                <div class="inner-box">
                                    <div class="icon-box">
                                        <span class="icon flaticon-man"></span>
                                    </div>
                                    <h3>63,000</h3>
                                    <div class="text">Players are available to hit you live</div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- Testimonial Column -->
                    <div class="testimonial-column col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-column wow fadeInRight" data-wow-delay="0ms">

                            <div class="single-item-carousel owl-carousel owl-theme">

                                <!-- Testimonial Block -->
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="quote-icon flaticon-quote-1"></div>
                                        <div class="text">Working with Coffe Games by bytes speed has been awesome. They care
                                            about the customer and add the personal feel to customer service. Our
                                            esports program has taken a huge step forward working with their help.
                                        </div>
                                        <div class="author">- Mike Johnson, Jr</div>
                                    </div>
                                </div>

                                <!-- Testimonial Block -->
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="quote-icon flaticon-quote-1"></div>
                                        <div class="text">Working with Coffe Games by bytes speed has been awesome. They care
                                            about the customer and add the personal feel to customer service. Our
                                            esports program has taken a huge step forward working with their help.
                                        </div>
                                        <div class="author">- Mike Johnson, Jr</div>
                                    </div>
                                </div>

                                <!-- Testimonial Block -->
                                <div class="testimonial-block">
                                    <div class="inner-box">
                                        <div class="quote-icon flaticon-quote-1"></div>
                                        <div class="text">Working with Coffe Games by bytes speed has been awesome. They care
                                            about the customer and add the personal feel to customer service. Our
                                            esports program has taken a huge step forward working with their help.
                                        </div>
                                        <div class="author">- Mike Johnson, Jr</div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>
    <!-- End Call To Action Section -->

        <!-- Questions Section -->
    <section class="questions-section">
        <div class="auto-container">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title">Frequently Asked Questions</div>
                <h2>Question & Answers</h2>
            </div>

            <!-- Inner Container -->
            <div class="inner-container">
                <div class="row clearfix">

                    <!-- Question Block -->
                    <div class="question-block col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-question"></span>
                            </div>
                            <h3><a href="#">How to download the game?</a></h3>
                            <div class="text">There are many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration in some form, by injected humour.
                            </div>
                        </div>
                    </div>

                    <!-- Question Block -->
                    <div class="question-block col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-question"></span>
                            </div>
                            <h3><a href="#">Is there any age restrictions?</a></h3>
                            <div class="text">There are many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration in some form, by injected humour.
                            </div>
                        </div>
                    </div>

                    <!-- Question Block -->
                    <div class="question-block col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-question"></span>
                            </div>
                            <h3><a href="#">how to become a team member?</a></h3>
                            <div class="text">There are many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration in some form, by injected humour.
                            </div>
                        </div>
                    </div>

                    <!-- Question Block -->
                    <div class="question-block col-lg-6 col-md-12 col-sm-12">
                        <div class="inner-box">
                            <div class="icon-box">
                                <span class="icon flaticon-question"></span>
                            </div>
                            <h3><a href="#">Is there any reward for winners?</a></h3>
                            <div class="text">There are many variations of passages of Lorem Ipsum available, but the
                                majority have suffered alteration in some form, by injected humour.
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>


        <!--Sponsors Section-->
    <section class="sponsors-section">
        <div class="auto-container">

            <div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <ul class="sponsors-carousel owl-carousel owl-theme">
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img
                                src="{{ url_for('static',filename='images/clients/1.png') }}" alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img
                                src="{{ url_for('static',filename='images/clients/2.png') }}" alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img
                                src="{{ url_for('static',filename='images/clients/3.png') }}" alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img
                                src="{{ url_for('static',filename='images/clients/1.png') }}" alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img
                                src="{{ url_for('static',filename='images/clients/2.png') }}" alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img
                                src="{{ url_for('static',filename='images/clients/3.png') }}" alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img
                                src="{{ url_for('static',filename='images/clients/1.png') }}" alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img
                                src="{{ url_for('static',filename='images/clients/2.png') }}" alt=""></a></figure>
                    </li>
                    <li class="slide-item">
                        <figure class="image-box"><a href="#"><img
                                src="{{ url_for('static',filename='images/clients/3.png') }}" alt=""></a></figure>
                    </li>
                </ul>
            </div>

        </div>
    </section>
    <!--End Sponsors Section-->

{% endblock %}


