{% extends 'base.html' %}

{% block title %}All games{% endblock %}
{% block menu_genres %}
    <li class="dropdown"><a href="#">Genres</a>
        <ul>
            {% for ganr in genres %}
                <li><a href="">{{ ganr.name }}</a></li>
            {% endfor %}

        </ul>
    </li>
{% endblock %}

{% block card_count %}
    <li><a href="{{ url_for('basket.index_basket') }}">Basket
        : {{ cart_count }}</a></li>
{% endblock card_count %}

{% block content %}
    <section class="page-banner"
             style="background-image:url({{ url_for('static',filename='images/background/title-bg.jpg') }});">
        <div class="auto-container">
            <div class="inner-container clearfix">

                <h1 style="color: blue;">All games</h1>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    {% for game in all_games %}

        <section class="player-info-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <!--Text Column-->
                    <div class="text-column col-lg-6 col-md-6 col-sm-12">
                        <div class="inner wow fadeInRight">
                            <div class="title-box">
                                <div class="user-title">{{ game.name }}</div>
                                <div class="user-info">Price :: {{ game.price }}</div>
                            </div>
                            <div class="text">There are many variations of passages of lorem ipsum available, but the
                                majority have suffered alteration in some form, by injected humour, or simply free
                                textinh randomised words which don't look even slightly believable. If you are going to
                                use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
                                hidden in the middle of text.
                            </div>
                            <form id="add-to-basket-form" action="{{ url_for('basket.add_basket', game_id=game.id) }}"
                                  method="post">
                                <button type="submit" class="add-to-basket-btn">Add to Basket</button>
                            </form>

                            </form>

                        </div>
                    </div>
                    <!--Image Column-->
                    <div class="image-column col-lg-6 col-md-6 col-sm-12">
                        <div class="inner wow fadeInLeft">
                            <figure class="image"><img
                                    {% if game.photo %}
                                        src="{{ game.photo }}" alt="">
                                    {% else %}
                                        src="{{ game.photo }}" alt="">
                                    {% endif %}
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

 <script>
        // Обработчик события отправки формы
        document.addEventListener('submit', function(event) {
            if (event.target.matches('#add-to-basket-form')) {
                event.preventDefault(); // Предотвращаем отправку формы

                // Отправляем AJAX-запрос на сервер
                fetch(event.target.action, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message === 'Game has been successfully added to the basket') {
                        // Отображаем сообщение об успешном добавлении игры
                        alert('Game has been successfully added to the basket');

                    } else {
                        // Отображаем сообщение об ошибке
                        alert('Failed to add the game to the basket');
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        });
    </script>
{% endblock %}
	
