<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Registration{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/style.css') }}">
</head>
<body>
{% block nav %}
    <div class="header_nav">

        <div class="nav_links">
            <a href="{{ url_for('index') }}">Home</a>
            <a href="#">Games</a>
            <a href="#">About me</a>
        </div>
        <div class="nav_links">
            <a href="#">Help & Support</a>
            <a href="#">Photos Gallery</a>
            <a href="{{ url_for('.login_page') }}">login</a>
        </div>
    </div>
{% endblock %}

{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <div class="registration-form">
        <h2>Registration Form</h2>
        <form action="" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="name"  required>
            </div>
            <div class="form-group">
                <label for="login">Login :</label>
                <input type="text" name="login"  required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" name="password"  required>
            </div>
            <div class="form-group">
                <label for="password">Password retype:</label>
                <input type="password" name="password2"  required>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" required>
            </div>
            <div class="form-group">
                <button type="submit">Register</button>
                 <button type="button"><a href="{{ url_for('.login_page') }}" >Login</a> </button>
            </div>
        </form>
    </div>
{% endblock %}
</body>
</html>







